@import "tailwindcss";

@theme {
  --color-primary: #2d331d;
  --color-secondary: #60675b;
  --color-accent: #b3be62;
  --color-background: #fdfdfb;
  --color-foreground: #1c1f18;
}

:root {
  --background: #fdfdfb;
  --foreground: #1c1f18;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1f18;
    /* Deep olive dark background */
    --foreground: #fdfdfb;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  @apply antialiased;
}